@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

/* nav bar start */

.navbar {
    box-shadow: 0px 3px 2px #dbdbdb;
    background-color: #fff;
}

.navbar-nav {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 5px;
}

.navbar-brand img {
    width: 100px;
    padding: 0px 5px;
}

.navbar-toggler {
    margin: 10px;
    border-style: none;
}

.navbar-toggler:hover {
    border-style: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item {
    padding: 5px 5px;
}

.nav-item button {
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: #007e8f;
    border: none;
    box-shadow: #191916;
}

@media (max-width: 768px) {
    .navbar {
        text-align: center;
        font-size: 22px;
    }

    .content {
        padding: 5% 15%;
    }

    .container-fluid {
        margin: 0;
        padding: 0;
    }

    .navbar-nav {
        background-color: rgb(255, 255, 255, 0.7);
    }

    .nav-item {
        padding: 4vh;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    }

    .nav-item:hover {
        color: #191916;
    }
}


@media (max-width: 426px) {
    .navbar {
        width: 100%;
        text-align: center;
        font-size: 22px;
    }

    .nav-item {
        padding: 4vh;
    }
}

    /* nav bar end */


