@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


.main-stories{
    height: 10em;
    background-color: #fff;
}

.main-stories header{
    padding-top:4rem ;
    margin: auto;
    text-align: center;
    width: 40%;
}

.main-stories h1, p{
    font-family: 'IBM Plex Sans', sans-serif;
}

.main-stories header h1{
    font-weight: 700;
    font-size: 80px;
}

.main-stories header p{
    font-weight: 400;
    font-size: 30px;

}
.main-stories .row{
    width: 80vw;
    margin: auto;
    margin-top:5%;
}

.main-stories .profile-photo{
    text-align: center;
    
}

.storyImg{
    width: 60%;
    border-radius: 10%;
    box-shadow: -5px 0px 15px rgb(117, 115, 115);
}


.main-stories .name{
    font-weight: 700;
    font-size: 30px;
    padding: 2%;
}

.main-stories .review-text{
    width: 80%;
    padding: 2%;
}

.text p{
    font-weight:400;
    font-size: 20px;
}

@media only screen and (max-width: 426px) {
*{
    margin: 0;
    padding: 0;
}
    .main-stories header{
        width: 80%;
    }
    .main-stories header h1{
        font-weight: 700;
        font-size: 40px;
        
    }

        
    .main-stories header p{
        font-weight: 400;
        font-size: 20px;

    }

    .main-stories .row{
        width: 95%;
        margin: 2%;
    }
   
    .storyImg{
        margin-top: 0%;
        border-radius: 50%;
    }
    
    .main-stories .review{
        width: 70%;
        margin: auto;
        margin-top: 5%;
    }

    .main-stories .name{
        font-size: 20px;
    }
   
    .main-stories .review-text{
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 769px) and (min-width: 426px) {
    .main-stories .row{
        margin-top: 10%;
    }
   
    .storyImg{
        border-radius: 50%;
    }
    
    .main-stories .review{
        width: 60%;
        margin: auto;
        padding-top: 5%;
    }

    .main-stories .name{
        font-size: 35px;
    }
    .main-stories .review-text{
        width: 95%;
        font-size: 25px;
    }
}