@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

/* nav bar start */

.navbar {
  box-shadow: 0px 3px 2px #dbdbdb;
}

.navbar-nav {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 5px;
}

.navbar-brand img {
  width: 100px;
  padding: 0px 5px;
}

.navbar-toggler {
  margin: 10px;
  border-style: none;
}

.navbar-toggler:hover {
  border-style: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  padding: 5px 5px;
}

.nav-item button {
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  background-color: #007e8f;
  border: none;
  box-shadow: #191916;
}

/* nav bar end */

/* press x page 1 start  */

.content {
  padding: 15% 25%;
}

.machinePic {
  width: 100%;
  padding: 10% 15%;
}

.smallPic {
  width: 50%;
  margin-left: 25%;
}

.heading {
  color: #f6df0f;
  font-size: 72px;
  font-weight: 900;
}

.subHeading {
  font-size: 32px;
  font-weight: 600;
}

/* press x page 1 end  */

/****** Page 2 ******/

.featureText {
  text-align: center;
  padding: 0px 20px;
  margin: 5px 20px;
  color: #2b2020;
  position: relative;
}

.featureText h1 {
  font-weight: 600;
}

.carousel-item {
  text-align: center;
}

.carousalImg {
  padding: 15%;
}

.carouselInfo {
  text-align: left;
  padding: 70px 50px 10px 10px;
  margin: 10px;
  color: #000;
  z-index: 5;
}

.carouselInfo h5 {
  font-size: 28px;
}

.carouselInfo p {
  font-size: 22px;
}

/* why to choose us start */

.circle-choose_us {
  overflow: hidden;
  margin: 0px 10px;
}

.choose_us_circle1 {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 50px;
  background-color: #bbd9e3;
  border-radius: 50%;
  top: 305vh;
  right: 10%;
}

.choose_us_circle2 {
  position: absolute;
  z-index: -1;
  height: 40px;
  width: 40px;
  background-color: #f6df0f;
  border-radius: 50%;
  top: 355vh;
  left: 5%;
}

.choose_us_circle3 {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 50px;
  background-color: #40a6bd;
  border-radius: 50%;
  top: 365vh;
  left: 30%;
}

.choose_us_circle4 {
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 150px;
  background-color: #89bfce;
  border-radius: 50%;
  top: 267vh;
  left: 15%;
}

.choose_us_circle5 {
  position: absolute;
  z-index: -1;
  height: 100px;
  width: 100px;
  background-color: #40a6bd;
  border-radius: 50%;
  top: 362vh;
  left: 50%;
}

.choose_us_circle7 {
  position: absolute;
  z-index: -1;
  height: 75px;
  width: 75px;
  background-color: #bbd9e3;
  border-radius: 50%;
  top: 295vh;
  left: 75%;
}

.choose_us_circle8 {
  position: absolute;
  z-index: -1;
  height: 200px;
  width: 200px;
  background-color: #fee1d9;
  border-radius: 50%;
  top: 375vh;
  left: 12%;
}

.choose_us_circle9 {
  position: absolute;
  z-index: -1;
  height: 100px;
  width: 100px;
  background-color: #f6df0f;
  border-radius: 50%;
  top: 467vh;
  left: 6%;
}

.choose_us_circle10 {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 50px;
  background-color: #bbd9e3;
  border-radius: 50%;
  top: 515vh;
  left: 35%;
}

.choose_us_circle11 {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 50px;
  background-color: #bbd9e3;
  border-radius: 50%;
  top: 505vh;
  left: 60%;
}

.choose_us_circle12 {
  position: absolute;
  z-index: -1;
  height: 70px;
  width: 70px;
  background-color: #40a6bd;
  border-radius: 50%;
  top: 390vh;
  left: 50%;
}

.choose_us_circle13 {
  position: absolute;
  z-index: -1;
  height: 100px;
  width: 100px;
  background-color: #bbd9e3;
  border-radius: 50%;
  top: 270vh;
  left: 85%;
}

.choose_us_circle14 {
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 150px;
  background-color: #f6df0f;
  border-radius: 50%;
  top: 447vh;
  left: 55%;
}

.choose_us_circle15 {
  position: absolute;
  z-index: -1;
  height: 350px;
  width: 350px;
  background-color: #ffecd3;
  border-radius: 50%;
  top: 465vh;
  left: 65%;
}

.choose_us_circle16 {
  position: absolute;
  z-index: -1;
  height: 250px;
  width: 250px;
  background-color: #89bfce;
  border-radius: 50%;
  top: 480vh;
  left: 47%;
}

.choose_us_circle17 {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 50px;
  background-color: #f6df0f;
  border-radius: 50%;
  top: 520vh;
  left: 2%;
}

.choose_us_circle18 {
  position: absolute;
  z-index: -1;
  height: 120px;
  width: 120px;
  background-color: #f6df0f;
  border-radius: 50%;
  top: 536vh;
  left: 65%;
}

.choose_us_circle19 {
  position: absolute;
  z-index: -1;
  height: 100px;
  width: 100px;
  background-color: #ffecd3;
  border-radius: 50%;
  top: 515vh;
  left: 50%;
}

.choose_us_circle20 {
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 150px;
  background-color: #40a6bd;
  border-radius: 50%;
  top: 607vh;
  left: 80%;
}

.choose_us_circle21 {
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 150px;
  background-color: #40a6bd;
  border-radius: 50%;
  top: 515vh;
  left: 82%;
}

.choose_us_circle22 {
  position: absolute;
  z-index: -1;
  height: 100px;
  width: 100px;
  background-color: #bbd9e3;
  border-radius: 50%;
  top: 563vh;
  left: 45%;
}

.choose_us_circle23 {
  position: absolute;
  z-index: -1;
  height: 75px;
  width: 75px;
  background-color: #f6df0f;
  border-radius: 50%;
  top: 597vh;
  left: 61%;
}

.choose_us-main {
  /* background-color: aqua; */
  overflow: hidden;
  padding: 0 60px;
}

.why_choose_us {
  margin-top: 50px;
}

.headingUs {
  color: #000;
  text-align: center;
  padding: 3%;
  font-weight: 900;
  font-size: 76px;
}


.headingApp {
  font-weight: 700;
  font-size: 70px;
}

.paraApp {
  font-size: 24px;
  font-weight: 400;
}

.appServices {
  text-align: left;
  padding: 0% 5% 0% 5%;
  margin: 10% 0% 10% 0%;
}

.orderServices {
  text-align: right;
  padding: 0% 5% 0% 5%;
  margin: 5% 0% 5% 0%;
}

.payment {
  text-align: right;
}

.choose_us-main img {
  margin: 20px auto;
}

.choose_us-main h1,
h5,
p {
  padding: 10px;
}

/* why to choose us end */

/* stories start */

.main-stories {
  height: max-content;
  background-color: #fff;
}

.main-stories header {
  padding-top: 4rem;
  margin: auto;
  text-align: center;
  width: 40%;
}

.main-stories h1,
p {
  font-family: "Quicksand", sans-serif;
}

.main-stories header h1 {
  font-weight: 700;
  font-size: 80px;
}

.main-stories header p {
  font-weight: 400;
  font-size: 30px;
}

.main-stories .row {
  width: 80vw;
  margin: auto;
  margin-top: 5%;
}

.main-stories .profile-photo {
  text-align: center;
}

.storyImg {
  width: 60%;
  border-radius: 10%;
  box-shadow: -5px 0px 15px rgb(117, 115, 115);
}

.main-stories .name {
  font-weight: 700;
  font-size: 30px;
  padding: 2%;
}

.main-stories .review-text {
  width: 80%;
  padding: 2%;
}

.text p {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  padding: 0% 1%;
}

/* stories end */

/* try now start */

.main-try * {
  margin: 0;
  padding: 0;
}

.main-try .text {
  margin: auto;
  padding-top: 2rem;
}

.mobile {
  margin: auto;
  margin-right: 0;
  margin-top: 3rem;
  width: 90%;
}

.main-try {
  margin-top: 70px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #b8d9e2;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.main-try .container {
  margin: auto;
  padding: auto;
}

.main-try .container-fluid {
  height: auto;
}

.tryCircle1 {
  border-radius: 50%;
  position: absolute;
  background: #f6df0f;
  z-index: -1;
  height: 350px;
  width: 350px;
  top: -25%;
  left: 25%;
}

.tryCircle2 {
  border-radius: 50%;
  position: absolute;
  background: #71b4d0;
  z-index: -1;
  height: 400px;
  width: 400px;
  top: -15%;
  right: -5%;
}

.tryCircle3 {
  border-radius: 50%;
  position: absolute;
  background: #f6df0fed;
  z-index: -1;
  height: 350px;
  width: 350px;
  top: 65%;
  right: -5%;
}

.tryCircle4 {
  border-radius: 50%;
  position: absolute;
  background: #71b4d0;
  z-index: -1;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 45%;
}

.tryCircle5 {
  border-radius: 50%;
  position: absolute;
  background: #f6df0fed;
  z-index: -1;
  height: 300px;
  width: 300px;
  top: 70%;
  left: 7%;
}

.main-try * {
  margin: 0;
  padding: 0;
}

.main-try .text {
  margin: auto;
  padding-top: 2rem;
}

.mobile {
  margin: auto;
  margin-top: 3rem;
  /* width: 95%; */
}

/* try now end */

@media screen and (max-width: 1440px) {
  .choose_us_circle1 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 195vh;
    right: 10%;
  }
  
  .choose_us_circle2 {
    position: absolute;
    z-index: -1;
    height: 40px;
    width: 40px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 255vh;
    left: 5%;
  }
  
  .choose_us_circle3 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 265vh;
    left: 30%;
  }
  
  .choose_us_circle4 {
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 150px;
    background-color: #89bfce;
    border-radius: 50%;
    top: 200vh;
    left: 15%;
  }
  
  .choose_us_circle5 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 262vh;
    left: 50%;
  }
  
  .choose_us_circle7 {
    position: absolute;
    z-index: -1;
    height: 75px;
    width: 75px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 215vh;
    left: 75%;
  }
  
  .choose_us_circle8 {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 200px;
    background-color: #fee1d9;
    border-radius: 50%;
    top: 275vh;
    left: 12%;
  }
  
  .choose_us_circle9 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 397vh;
    left: 6%;
  }
  
  .choose_us_circle10 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 215vh;
    left: 35%;
  }
  
  .choose_us_circle11 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 330vh;
    left: 60%;
  }
  
  .choose_us_circle12 {
    position: absolute;
    z-index: -1;
    height: 70px;
    width: 70px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 379vh;
    left: 50%;
  }
  
  .choose_us_circle13 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 270vh;
    left: 85%;
  }
  
  .choose_us_circle14 {
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 150px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 391vh;
    left: 55%;
  }
  
  .choose_us_circle15 {
    position: absolute;
    z-index: -1;
    height: 350px;
    width: 350px;
    background-color: #ffecd3;
    border-radius: 50%;
    top: 337vh;
    left: 65%;
  }
  
  .choose_us_circle16 {
    position: absolute;
    z-index: -1;
    height: 250px;
    width: 250px;
    background-color: #89bfce;
    border-radius: 50%;
    top: 344vh;
    left: 47%;
  }
  
  .choose_us_circle17 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 320vh;
    left: 2%;
  }
  
  .choose_us_circle18 {
    position: absolute;
    z-index: -1;
    height: 120px;
    width: 120px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 443vh;
    left: 65%;
  }
  
  .choose_us_circle19 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #ffecd3;
    border-radius: 50%;
    top: 415vh;
    left: 50%;
  }
  
  .choose_us_circle20 {
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 150px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 382vh;
    left: 80%;
  }
  
  .choose_us_circle21 {
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 150px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 445vh;
    left: 82%;
  }
  
  .choose_us_circle22 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 293vh;
    left: 45%;
  }
  
  .choose_us_circle23 {
    position: absolute;
    z-index: -1;
    height: 75px;
    width: 75px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 441vh;
    left: 5%;
  }
  
}

/****** Tablet ******/

@media (max-width: 769px) {
  .navbar {
    text-align: center;
    font-size: 22px;
  }

  .content {
    padding: 5% 15%;
  }

  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .navbar-nav {
    background-color: rgb(255, 255, 255, 0.7);
  }

  .nav-item {
    padding: 4vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  .nav-item:hover {
    color: #191916;
  }

  /* .show {
        filter: blur(5px);
    } */
  .collapsing {
    background-image: url("images/Screenshot\ 2023-03-23\ 001438.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .collapse {
    background-image: url("images/Screenshot\ 2023-03-23\ 001438.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carouselInfo {
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #000;
  }

  .carousalImg {
    padding: 0px;
  }

  .carImg {
    margin-left: auto;
    margin-right: auto;
  }

  .carouselInfo {
    width: 70%;
    text-align: center;
    margin: 10px;
    color: #000;
  }

  .carouselInfo h5 {
    font-size: 22px;
  }

  .carouselInfo p {
    font-size: 18px;
  }
}


/****** Mobile ******/

@media (max-width: 426px) {
  .content {
    padding: 5% 5%;
    text-align: center;
  }

  .navbar {
    width: 100%;
    text-align: center;
    font-size: 22px;
  }

  .nav-item {
    padding: 4vh;
  }

  .smallPic {
    width: 50%;
    margin-left: 25%;
  }

  .w-100 {
    width: 30% !important;
  }

  .carouselInfo {
    margin: 10px auto;
    color: #000;
  }

  .carousalImg {
    width: 35%;
    margin: 20px auto;
  }

  .carImg {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile {
    width: 95%;
    margin: 10px 10px;
  }

  .text {
    text-align: center;
  }

  .text h1 {
    font-weight: 700;
  }
}

/* tablet */

@media screen and (max-width: 769px) {
  .choose_us-main {
    /* background-color: burlywood; */
    font-family: "IBM Plex Sans", sans-serif;
    width: 100%;
    padding: 10px;
  }

  .choose_us-main img {
    display: block;
    margin: 20px auto;
    width: 60%;
  }

  .choose_us-main h1,
  h5,
  p {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .appServices {
    text-align: center;
    padding: 0% 2% 0% 2%;
    margin: 5% 0% 5% 0%;
  }
}

/* moblie */

@media screen and (max-width: 426px) {
  /* Why Choose Us */

  .choose_us-main {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    padding: 10px;
  }

  .headingApp {
    font-size: 50px;
  }

  .choose_us-main img {
    display: block;
    margin: 20px auto;
    width: 80%;
  }

  .choose_us-main h1,
  h5 p {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .appServices {
    text-align: center;
    padding: 0% 2% 0% 2%;
  }

  /* Circles */

  .circle-choose_us {
    overflow: hidden;
  }

  .choose_us_circle1 {
    position: absolute;
    z-index: -1;
    height: 0px;
    width: 0px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 50%;
    left: 100%;
  }

  .choose_us_circle2 {
    position: absolute;
    z-index: -1;
    height: 40px;
    width: 40px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 350vh;
    left: 5%;
  }

  .choose_us_circle3 {
    position: absolute;
    z-index: -1;
    height: 0px;
    width: 0px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 0%;
    left: 0%;
  }

  .choose_us_circle4 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #89bfce;
    border-radius: 50%;
    top: 400%;
    left: 70%;
  }

  .choose_us_circle5 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 430%;
    left: 5%;
  }

  .choose_us_circle7 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 340%;
    left: 85%;
  }

  .choose_us_circle8 {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 200px;
    background-color: #fee1d9;
    border-radius: 50%;
    top: 495%;
    left: 45%;
  }

  .choose_us_circle9 {
    position: absolute;
    z-index: -1;
    height: 75px;
    width: 75px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 540%;
    left: 3%;
  }

  .choose_us_circle10 {
    position: absolute;
    z-index: -1;
    height: 0px;
    width: 0px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 220%;
    left: 1%;
  }

  .choose_us_circle11 {
    position: absolute;
    z-index: -1;
    height: 0px;
    width: 0px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 180%;
    left: 60%;
  }

  .choose_us_circle12 {
    position: absolute;
    z-index: -1;
    height: 70px;
    width: 70px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 621%;
    left: 78%;
  }

  .choose_us_circle13 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 545%;
    left: 75%;
  }

  .choose_us_circle14 {
    position: absolute;
    z-index: -1;
    height: 125px;
    width: 125px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 456%;
    left: 65%;
  }

  .choose_us_circle15 {
    position: absolute;
    z-index: -1;
    height: 0px;
    width: 0px;
    background-color: #ffecd3;
    border-radius: 50%;
    top: 280%;
    left: 60%;
  }

  .choose_us_circle16 {
    position: absolute;
    z-index: -1;
    height: 0px;
    width: 0px;
    background-color: #89bfce;
    border-radius: 50%;
    top: 270%;
    left: 75%;
  }

  .choose_us_circle17 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 405%;
    left: 4%;
  }

  .choose_us_circle18 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 482%;
    left: 5%;
  }

  .choose_us_circle19 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #ffecd3;
    border-radius: 50%;
    top: 695%;
    left: 15%;
  }

  .choose_us_circle20 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 642%;
    left: 70%;
  }

  .choose_us_circle21 {
    position: absolute;
    z-index: -1;
    height: 125px;
    width: 125px;
    background-color: #40a6bd;
    border-radius: 50%;
    top: 775%;
    left: 64%;
  }

  .choose_us_circle22 {
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    background-color: #bbd9e3;
    border-radius: 50%;
    top: 750%;
    left: 77%;
  }

  .choose_us_circle23 {
    position: absolute;
    z-index: -1;
    height: 70px;
    width: 70px;
    background-color: #f6df0f;
    border-radius: 50%;
    top: 788%;
    left: 5%;
  }

  .tryCircle1 {
    border-radius: 50%;
    position: absolute;
    background: #f6df0f;
    z-index: -1;
    height: 250px;
    width: 250px;
    top: -15%;
    left: 65%;
  }

  .tryCircle2 {
    border-radius: 50%;
    position: absolute;
    background: #71b4d0;
    z-index: -1;
    height: 300px;
    width: 300px;
    top: -15%;
    right: 60%;
  }

  .tryCircle3 {
    border-radius: 50%;
    position: absolute;
    background: #f6df0fed;
    z-index: -1;
    height: 200px;
    width: 200px;
    top: 65%;
    right: -10%;
  }

  .tryCircle4 {
    border-radius: 50%;
    position: absolute;
    background: #71b4d0;
    z-index: -1;
    height: 150px;
    width: 150px;
    top: 55%;
    left: -5%;
  }

  .tryCircle5 {
    border-radius: 50%;
    position: absolute;
    background: #f6df0fed;
    z-index: -1;
    height: 200px;
    width: 200px;
    top: 90%;
    left: 7%;
  }

  /* footer start */

  .logo1 {
    text-align: center;
  }

  .download-main {
    display: flex;
    text-align: center;
  }

  .play-store-footer {
    width: 80%;
    /* display: flex;
    text-align: left;
    float: left; */
    flex-direction: row;
  }

  .app-store-footer {
    width: 80%;
    /* text-align: right;
    float: right; */
    flex-direction: row;
  }

  /* footer end */
}

@media only screen and (max-width: 769px) and (min-width: 426px) {
  .carousalImg {
    /* background-color: #40a6bd;s */
    margin: auto;
  }

  .w-100 {
    width: 50% !important;
  }

  /* footer start */

  .logo1 {
    text-align: center;
  }

  .footer-logo {
    /* padding-right: 15%; */
    padding-bottom: 15%;
  }

  .download-main {
    display: flex;
    text-align: center;
  }

  .play-store-footer {
    width: 80%;
    /* display: flex;
      text-align: left;
      float: left; */
    flex-direction: row;
  }

  .app-store-footer {
    width: 80%;
    /* text-align: right;
      float: right; */
    flex-direction: row;
  }

  /* footer end */
}
